.git
.gitignore

.gitlab-ci.yml

**/.DS_Store

**/__pycache__
.pytest_cache

**/migrations
db.sqlite3

.coverage
coverage-reports
xunit-reports


pycodestyle-report.txt
pylint-report.txt

.DS_Store
.idea

read.md